#!/bin/sh

# If the file "BOOTSRTAPPED" is not already present then run bootstrapping tasks
if [ ! -f "/var/pgdata/BOOTSTRAPPED" ]; then
  
  # Move postgresql data directory contents to mounted directory
  mv /var/lib/postgresql/{{ postgres_version }}/main /var/pgdata/main
  
  # Add file BOOTSTRAPPED to indicate no further bootstrapping needed
  touch  /var/pgdata/BOOTSTRAPPED

fi

# Enable postgresql service
systemctl enable postgresql.service

# Start postgresql service
systemctl start postgresql.service
